<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="dao.AppBookPageSentencesMapper" > 

<!-- Result Map 数据库映射到实体类  -->
<resultMap id="tableMapToModel" type="model.AppBookPageSentencesModel" >
	<result column="id" property="id"/>
	<result column="bookPageID" property="bookPageID"/>
	<result column="sentence" property="sentence"/>
	<result column="audio" property="audio"/>
	<result column="sort" property="sort"/>
</resultMap>

<!-- 所有条件分页 -->
<sql id="model">
    <include refid="modelCount"/>
    ${pageUtil.orderByCondition}
    <if test="pageUtil.paging == true" >
    	${pageUtil.limit}
    </if>
</sql>

<!-- 总记录数 -->
<sql id="modelCount">
	<where>
	   <choose>
	      <when test="pageUtil.like==true">
	         <include refid="andOtherAllLike"/>
	      </when>
	      <otherwise>
	     	 <include refid="andOtherAll"/>
	      </otherwise>
	   </choose>
	   ${pageUtil.andCondition}
	</where>
    ${pageUtil.queryCondition}
</sql>

<!-- tbaleColumns  所有列 -->
<sql id="tbaleColumns">
	<trim suffix="" suffixOverrides=",">
		id,bookPageID,sentence,sort,audio
	</trim>
</sql>


<!-- insertColumns 入库列 -->
<sql id="insertColumns">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			id,
		</if>
		<if test="bookPageID != null and bookPageID != '' " >
			bookPageID,
		</if>
		<if test="sentence != null and sentence != '' " >
			sentence,
		</if>
		<if test="sort != null " >
			sort,
		</if>
		<if test="audio != null " >
			audio,
		</if> 
    </trim>
</sql>


<!-- insertParams  入库值 -->
<sql id="insertParams">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			#{id},
		</if>
		<if test="bookPageID != null and bookPageID != '' " >
			#{bookPageID},
		</if>
		<if test="sentence != null and sentence != '' " >
			#{sentence},
		</if>
		<if test="sort  != null " >
			#{sort},
		</if>
		<if test="audio != null  " >
			#{audio},
		</if> 
    </trim>
</sql>


<!-- updateParams  更新列 -->
<sql id="updateParams">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			id=#{id},
	    </if>
		<if test="bookPageID != null and bookPageID != '' " >
			bookPageID=#{bookPageID},
	    </if>
		<if test="sentence != null and sentence != '' " >
			sentence=#{sentence},
	    </if>
		<if test="sort  != null " >
			sort=#{sort},
	    </if>
		<if test="audio != null " >
			audio=#{audio},
	    </if> 
    </trim>
</sql>


<!-- 条件 查询  , 去掉主键列-->
<sql id="andOther">
	<trim  suffixOverrides="," >
	  
		<if test="bookPageID != null and bookPageID != '' " >
			bookPageID=#{bookPageID},
	    </if>
		<if test="sentence != null and sentence != '' " >
			sentence=#{sentence},
	    </if>
		<if test="sort != null " >
			sort=#{sort},
	    </if>
		<if test="audio != null " >
			audio=#{audio},
	    </if> 
	</trim>
</sql>


<!-- 查询条件  包含所有 -->
<sql id="andOtherAll">
	<trim  suffixOverrides="," >
		<if test="id != null and id != '' " >
			and id =  #{id}
	    </if>
		<if test="bookPageID != null " >
			    and bookPageID =  #{bookPageID}
		</if>
		<if test="sentence != null " >
			    and sentence =  #{sentence}
		</if> 
		<if test="audio != null " >
			and audio =  #{audio}
		</if>
	</trim>
</sql>


<!-- 模糊查询判断 -->
<sql id="andOtherAllLike">
	<trim  suffixOverrides="," >
		<if test="id != null and id != '' " >
			and id like  &apos;%${id}%&apos;
	    </if>
		<if test="bookPageID != null and bookPageID != '' " >
			and bookPageID like  &apos;%${bookPageID}%&apos;
	    </if>
		<if test="sentence != null " >
			and sentence like  &apos;%${sentence}%&apos;
		</if> 
	</trim>
</sql>

<!-- where 条件  -->
<sql id="where">
     where 1=1
</sql>

<!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
<sql id="columnKey">
     and id=#{id}
</sql>


<!-- 自定义查询 -->
<sql id="sql">
   <if test="sql != null and sql !=''">
       ${sql}
   </if>
   <if test="sql == null || sql==''">
      select <include refid="tbaleColumns"/> from AppBookPageSentences <include refid="where"/>
   </if>
</sql>

<!-- 查询条件 -->
<sql id="queryCondition">
     <if test="queryCondition != null and queryCondition != ''">
         ${queryCondition}
     </if>
</sql>


<!-- 添加,插入记录   -->
<insert id="insert"  parameterType="model.AppBookPageSentencesModel" >
    insert into AppBookPageSentences(<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
</insert>

<!-- 添加,SQL添加   -->
<insert id="insertBySql" parameterType="java.lang.String">
    <include refid="sql"/>
</insert>

<!-- 删除,主键删除   -->
<delete id="deleteByPrimaryKey" parameterType="model.AppBookPageSentencesModel">
    delete from AppBookPageSentences<include refid="where"/><include refid="columnKey"/>
</delete>

<!-- 删除,实体删除   -->
<delete id="deleteByEntity" parameterType="model.AppBookPageSentencesModel">
    delete from AppBookPageSentences<include refid="where"/><include refid="andOtherAll"/>
</delete>

<!-- 删除,SQL删除   -->
<delete id="deleteBySql" parameterType="java.lang.String">
      <include refid="sql"/>
</delete>

<!-- 修改,主键更新  -->
<update id="updateByPrimaryKey" parameterType="model.AppBookPageSentencesModel" >
	update AppBookPageSentences <set><include refid="updateParams"/></set><include refid="where"/><include refid="columnKey"/>
</update>

<!-- 修改,SQL更新 -->
<update id="updateBySql" parameterType="java.lang.String">
	  <include refid="sql"/>
</update>

<!-- 查询,主键查询   -->
<select id="selectByPrimaryKey"  resultMap="tableMapToModel" parameterType="java.lang.Object">
	select <include refid="tbaleColumns"/> from AppBookPageSentences <include refid="where"/> <include refid="columnKey"/>
</select>

<!-- 查询,实体查询   -->
<select id="selectByEntiry"  resultMap="tableMapToModel" parameterType="model.AppBookPageSentencesModel">
	select <include refid="tbaleColumns"/> from AppBookPageSentences <include refid="where"/> <include refid="andOtherAll"/>
</select>

<!-- 查询,SQL -->
<select id="selectBySql"  resultMap="tableMapToModel" parameterType="java.lang.String">
     <include refid="sql"/>
</select>
  	
<!-- 查询 ,总行数,分页 ,模型 -->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="model.AppBookPageSentencesModel">
	select count(1) from AppBookPageSentences <include refid="modelCount"/>
</select>
  	
<!-- 查询,排序,分页,模型  -->
<select id="selectByModel" resultMap="tableMapToModel"  parameterType="model.AppBookPageSentencesModel">
	select <include refid="tbaleColumns"/>from AppBookPageSentences <include refid="model"/>
</select>

<!-- 查询,总行数,Map -->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from AppBookPageSentences <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>
  	
<!-- 查询,参数查询,Map -->
<select id="selectByMap" resultMap="tableMapToModel"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from AppBookPageSentences <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>

<!-- 查询,总行数,Map分页 -->
<select id="selectByMapPagingCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(0) from AppBookPageSentences <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
</select>

<!-- 查询,参数查询,Map分页 -->
<select id="selectByMapPaging" resultMap="tableMapToModel"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from AppBookPageSentences <include refid="where"/><include refid="andOtherAll"/>
	${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
    ${pageUtil.orderByCondition}
    ${pageUtil.limit}
</select>
 

</mapper>   
