<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
         符号转义lo明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="dao.TbsUserMapper" > 

<!-- Result Map 数据库映射到实体类  -->
<resultMap id="tableMapToModel" type="model.TbsUserModel" >
	<result column="id" property="id"/>
	<result column="username" property="username"/>
	<result column="password" property="password"/>
	<result column="telephone" property="telephone"/>
	<result column="email" property="email"/>
	<result column="createTime" property="createTime"/>
	<result column="ip" property="ip"/>
	<result column="count" property="count"/>
	<result column="isLock" property="isLock"/>
	<result column="lockTime" property="lockTime"/>
	<result column="failCount" property="failCount"/>
	<result column="isAdmin" property="isAdmin"/>
	<result column="portrait" property="portrait"/>
	<result column="nickname" property="nickname"/>
	<result column="sex" property="sex"/>
	<result column="birthday" property="birthday"/>
	<result column="description" property="description"/>
</resultMap>

<!-- 所有条件分页 -->
<sql id="model">
    <include refid="modelCount"/>
    ${pageUtil.orderByCondition}
    <if test="pageUtil.paging == true" >
    	${pageUtil.limit}
    </if>
</sql>

<!-- 总记录数 -->
<sql id="modelCount">
	<where>
	   <choose>
	      <when test="pageUtil.like==true">
	         <include refid="andOtherAllLike"/>
	      </when>
	      <otherwise>
	     	 <include refid="andOtherAll"/>
	      </otherwise>
	   </choose>
	   ${pageUtil.andCondition}
	</where>
    ${pageUtil.queryCondition}
</sql>

<!-- tbaleColumns  所有列 -->
<!--  id,name,password,nickName,email,icon,state,time,count,createTime,remark -->
<sql id="tbaleColumns">
	<trim suffix="" suffixOverrides=",">
		id,username,nickname,sex,birthday,description,password,telephone,email,createTime,ip,count,isLock,lockTime,failCount,isAdmin,portrait,		
	</trim>
</sql>


<!-- insertColumns 入库列 -->
<sql id="insertColumns">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			id,
		</if>
		<if test="username != null and username != '' " >
			username,
		</if>
		<if test="nickname != null " >
			nickname,
		</if>
		<if test="sex != null " >
			sex,
		</if>
		<if test="birthday != null " >
			birthday,
		</if>
		<if test="description != null " >
			description,
		</if>
		<if test="password != null and password != '' " >
			password,
		</if>
		<if test="telephone != null and telephone != ''">
			telephone,
		</if>
		<if test="email != null and email != ''">
			email,
		</if>
		<if test="createTime != null " >
			createTime,
		</if>
		<if test="ip != null and ip != '' " >
			ip,
		</if>
		<if test="count != null " >
			count,
		</if>
		<if test="isLock != null " >
			isLock,
		</if>
		<if test="lockTime != null " >
			lockTime,
		</if>
		<if test="failCount != null " >
			failCount,
		</if>
		<if test="isAdmin != null " >
			isAdmin,
		</if>
		<if test="portrait != null " >
			portrait,
		</if>
    </trim>
</sql>


<!-- insertParams  入库值 -->
<sql id="insertParams">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			#{id},
		</if>
		<if test="username != null and username != '' " >
			#{username},
		</if>
		<if test="nickname != null and nickname != '' " >
			#{nickname},
		</if>
		<if test="sex != null and sex != '' " >
			#{sex},
		</if>
		<if test="birthday != null and birthday != '' " >
			#{birthday},
		</if>
		<if test="description != null and description != '' " >
			#{description},
		</if>
		<if test="password != null and password != '' " >
			#{password},
		</if>
		<if test="telephone != null and telephone != '' " >
			#{telephone},
		</if>
		<if test="email != null and email != '' " >
			#{email},
		</if>
		<if test="createTime != null " >
			#{createTime},
		</if>
		<if test="ip != null and ip != '' " >
			#{ip},
		</if>
		<if test="count != null " >
			#{count},
		</if>
		<if test="isLock != null " >
			#{isLock},
		</if>
		<if test="lockTime != null " >
			#{lockTime},
		</if>
		<if test="failCount != null " >
			#{failCount},
		</if>
		<if test="isAdmin != null " >
			#{isAdmin},
		</if>
		<if test="portrait != null " >
			#{portrait},
		</if>
		
    </trim>
</sql>


<!-- updateParams  更新列 -->
<sql id="updateParams">
	<trim suffix="" suffixOverrides=",">
		<if test="id != null and id != '' " >
			id=#{id},
	    </if>
		<if test="username != null and username != '' " >
			username=#{username},
	    </if>
	    <if test="nickname != null and nickname != '' " >
			nickname=#{nickname},
	    </if>
	    <if test="sex != null and sex != '' " >
			sex=#{sex},
	    </if>
	    <if test="birthday != null and birthday != '' " >
			birthday=#{birthday},
	    </if>
	    <if test="description != null and description != '' " >
			description=#{description},
	    </if>
		<if test="password != null and password != '' " >
			password=#{password},
	    </if>
	    <if test="telephone != null and telephone != '' " >
			telephone=#{telephone},
	    </if>
	    <if test="email != null and email != '' " >
			email=#{email},
	    </if>
		<if test="createTime != null " >
			createTime=#{createTime},
	    </if>
		<if test="ip != null and ip != '' " >
			ip=#{ip},
	    </if>
		<if test="count != null " >
			count=#{count},
	    </if>
		<if test="isLock != null " >
			isLock=#{isLock},
	    </if>
		<if test="lockTime != null " >
			lockTime=#{lockTime},
	    </if>
		<if test="failCount != null " >
			failCount=#{failCount},
	    </if>
		<if test="isAdmin != null " >
			isAdmin=#{isAdmin},
	    </if>
		<if test="portrait != null " >
			portrait=#{portrait},
	    </if>
	    
    </trim>
</sql>


<!-- 条件 查询  , 去掉主键列-->
<sql id="andOther">
	<trim  suffixOverrides="," >
	  
		<if test="username != null " >
			    and username =  #{username}
		</if>
		<if test="password != null " >
			    and password =  #{password}
		</if>
		<if test="nickname != null " >
			    and nickname =  #{nickname}
		</if>
		<if test="sex != null " >
			    and sex =  #{sex}
		</if>
		<if test="birthday != null " >
			    and birthday =  #{birthday}
		</if>
		<if test="description != null " >
			    and description =  #{description}
		</if>
		<if test="telephone != null " >
			    and telephone =  #{telephone}
		</if>
		<if test="email != null " >
			    and email =  #{email}
		</if>
		<if test="createTime != null " >
			    and createTime =  #{createTime}
		</if>
		<if test="ip != null " >
			    and ip =  #{ip}
		</if>
		<if test="count != null " >
			    and count =  #{count}
		</if>
		<if test="isLock != null " >
			    and isLock =  #{isLock}
		</if>
		<if test="lockTime != null " >
			    and lockTime =  #{lockTime}
		</if>
		<if test="failCount != null " >
			    and failCount =  #{failCount}
		</if>
		<if test="isAdmin != null " >
			    and isAdmin =  #{isAdmin}
		</if>
		<if test="portrait != null " >
			    and portrait =  #{portrait}
		</if>
		
	</trim>
</sql>


<!-- 查询条件  包含所有 -->
<sql id="andOtherAll">
	<trim  suffixOverrides="," >
		<if test="id != null and id != '' " >
			and id =  #{id}
	    </if>
		<if test="username != null and username != '' " >
			and username =  #{username}
	    </if>
	    <if test="nickname != null " >
			and nickname =  #{nickname}
		</if>
	    <if test="sex != null " >
			and sex =  #{sex}
		</if>
	    <if test="birthday != null " >
			and birthday =  #{birthday}
		</if>
	    <if test="description != null " >
			and description =  #{description}
		</if>
		<if test="password != null and password != '' " >
			and password =  #{password}
	    </if>
	    <if test="telephone != null and telephone != '' " >
			and telephone =  #{telephone}
	    </if>
	    <if test="email != null and email != '' " >
			and email =  #{email}
	    </if>
		<if test="createTime != null " >
			and createTime =  #{createTime}
		</if>
		<if test="ip != null and ip != '' " >
			and ip =  #{ip}
	    </if>
		<if test="count != null " >
			and count =  #{count}
		</if>
		<if test="isLock != null " >
			and isLock =  #{isLock}
		</if>
		<if test="lockTime != null " >
			and lockTime =  #{lockTime}
		</if>
		<if test="failCount != null " >
			and failCount =  #{failCount}
		</if>
		<if test="isAdmin != null " >
			and isAdmin =  #{isAdmin}
		</if>
		<if test="portrait != null " >
			and portrait =  #{portrait}
		</if>
		
	</trim>
</sql>


<!-- 模糊查询判断 -->
<sql id="andOtherAllLike">
	<trim  suffixOverrides="," >
		<if test="id != null and id != '' " >
			and id like  &apos;%${id}%&apos;
	    </if>
		<if test="username != null and username != '' " >
			and username like  &apos;%${username}%&apos;
	    </if>
	    <if test="nickname != null " >
			and nickname like  &apos;%${nickname}%&apos;
		</if>
	    <if test="sex != null " >
			and sex like  &apos;%${sex}%&apos;
		</if>
	    <if test="birthday != null " >
			and birthday like  &apos;%${birthday}%&apos;
		</if>
	    <if test="description != null " >
			and description like  &apos;%${description}%&apos;
		</if>
		<if test="password != null and password != '' " >
			and password like  &apos;%${password}%&apos;
	    </if>
	    <if test="telephone != null and telephone != '' " >
			and telephone like  &apos;%${telephone}%&apos;
	    </if>
	    <if test="email != null and email != '' " >
			and email like  &apos;%${email}%&apos;
	    </if>
		<if test="createTime != null " >
			and createTime like  &apos;%${createTime}%&apos;
		</if>
		<if test="ip != null and ip != '' " >
			and ip like  &apos;%${ip}%&apos;
	    </if>
		<if test="count != null " >
			and count like  &apos;%${count}%&apos;
		</if>
		<if test="isLock != null " >
			and isLock like  &apos;%${isLock}%&apos;
		</if>
		<if test="lockTime != null " >
			and lockTime like  &apos;%${lockTime}%&apos;
		</if>
		<if test="failCount != null " >
			and failCount like  &apos;%${failCount}%&apos;
		</if>
		<if test="isAdmin != null " >
			and isAdmin like  &apos;%${isAdmin}%&apos;
		</if>
		<if test="portrait != null " >
			and portrait like  &apos;%${portrait}%&apos;
		</if>
		
	</trim>
</sql>

<!-- where 条件  -->
<sql id="where">
     where 1=1
</sql>

<!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
<sql id="columnKey">
     and id=#{id}
</sql>


<!-- 自定义查询 -->
<sql id="sql">
   <if test="sql != null and sql !=''">
       ${sql}
   </if>
   <if test="sql == null || sql==''">
      select <include refid="tbaleColumns"/> from TbsUser <include refid="where"/>
   </if>
</sql>

<!-- 查询条件 -->
<sql id="queryCondition">
     <if test="queryCondition != null and queryCondition != ''">
         ${queryCondition}
     </if>
</sql>


<!-- 添加,插入记录   -->
<insert id="insert"  parameterType="model.TbsUserModel" >
    insert into TbsUser(<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
</insert>

<!-- 添加,SQL添加   -->
<insert id="insertBySql" parameterType="java.lang.String">
    <include refid="sql"/>
</insert>

<!-- 删除,主键删除   -->
<delete id="deleteByPrimaryKey" parameterType="model.TbsUserModel">
    delete from TbsUser<include refid="where"/><include refid="columnKey"/>
</delete>

<!-- 删除,实体删除   -->
<delete id="deleteByEntity" parameterType="model.TbsUserModel">
    delete from TbsUser<include refid="where"/><include refid="andOtherAll"/>
</delete>

<!-- 删除,SQL删除   -->
<delete id="deleteBySql" parameterType="java.lang.String">
      <include refid="sql"/>
</delete>

<!-- 修改,主键更新  -->
<update id="updateByPrimaryKey" parameterType="model.TbsUserModel" >
	update TbsUser <set><include refid="updateParams"/></set><include refid="where"/><include refid="columnKey"/>
</update>

<!-- 修改,SQL更新 -->
<update id="updateBySql" parameterType="java.lang.String">
	  <include refid="sql"/>
</update>

<!-- 查询,主键查询   -->
<select id="selectByPrimaryKey"  resultMap="tableMapToModel" parameterType="java.lang.Object">
	select <include refid="tbaleColumns"/> from TbsUser <include refid="where"/> <include refid="columnKey"/>
</select>

<!-- 查询,实体查询   -->
<select id="selectByEntiry"  resultMap="tableMapToModel" parameterType="model.TbsUserModel">
	select <include refid="tbaleColumns"/> from TbsUser <include refid="where"/> <include refid="andOtherAll"/>
</select>

<!-- 查询,SQL -->
<select id="selectBySql"  resultMap="tableMapToModel" parameterType="java.lang.String">
     <include refid="sql"/>
</select>
  	
<!-- 查询 ,总行数,分页 ,模型 -->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="model.TbsUserModel">
	select count(1) from TbsUser <include refid="modelCount"/>
</select>
  	
<!-- 查询,排序,分页,模型  -->
<select id="selectByModel" resultMap="tableMapToModel"  parameterType="model.TbsUserModel">
	select <include refid="tbaleColumns"/>from TbsUser <include refid="model"/>
</select>

<!-- 查询,总行数,Map -->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from TbsUser <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>
  	
<!-- 查询,参数查询,Map -->
<select id="selectByMap" resultMap="tableMapToModel"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from TbsUser <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>

<!-- 查询,总行数,Map分页 -->
<select id="selectByMapPagingCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(0) from TbsUser <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
</select>

<!-- 查询,参数查询,Map分页 -->
<select id="selectByMapPaging" resultMap="tableMapToModel"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from TbsUser <include refid="where"/><include refid="andOtherAll"/>
	${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
    ${pageUtil.orderByCondition}
    ${pageUtil.limit}
</select>

<!--查询, 图表 -->
<select id="charts" parameterType="java.util.Map" resultType="java.util.Map">
    <!-- '%Y-%m-%d %H:%i:%s' -->
	SELECT COUNT(*),DATE_FORMAT(createTime,'${groupTimeFormat}') as createTime  FROM TbsUser 
	<if test="startTimeFormat!=null and endTimeFormat!=null">
		WHERE 
		createTime&gt;=DATE_FORMAT(NOW(), '${startTimeFormat}') AND createTime&lt;=DATE_FORMAT(NOW(), '${endTimeFormat}') 
	</if> 
	GROUP BY DATE_FORMAT(createTime,'${groupTimeFormat}')
</select>

<!--/////////////// 级联递归查询  一对多 ///////////////-->
<resultMap type="model.TbsUserModel" id="tableMapToModelChild" extends="tableMapToModel">
  
   <!-- 一对一关联   注意 顺序       需要用时开启 -->
   <!--  
  <association property="tbsUserModel" column="parentId" select="getParent">
  		 
  </association>
  -->
  
  <!-- 一对多关联  -->
  <collection property="listTbsUserModel" column="id" select="getChild">
      <!-- 对象的属性 -->
  </collection>
  
</resultMap>
 
<!--  
<select id="getParent" resultMap="tableMapToModelChild" parameterType="String">
     SELECT * FROM TbsUser where id=#{parentId}
</select>
-->

<select id="getChild" resultMap="tableMapToModelChild" parameterType="String">
     SELECT * FROM TbsUser where parentId=#{id}
</select>

<select id="selectByChild" resultMap="tableMapToModelChild"  parameterType="model.TbsUserModel">
    SELECT <include refid="tbaleColumns"/>FROM TbsUser
    <where>
        <include refid="andOtherAll"/>
	   	${pageUtil.andCondition}
    </where>
    	${pageUtil.queryCondition}
    	${pageUtil.orderByCondition}
    <if test="pageUtil.paging == true" >
    	${pageUtil.limit}
    </if>
    
</select>

<!--/////////////// 级联递归查询  一对多 ///////////////-->


<!--//////////////////////增加/////////////////////// -->
<!-- 增加 -->
<select id="selectByRoleUrls" resultType="map" parameterType="map">
	SELECT DISTINCT TbsMenu.`id`,TbsMenu.`parentId`, TbsMenu.`name`,TbsMenu.`url`,TbsMenu.`type` FROM TbsMenu
	<choose>
	  <when test="cloumn!=null and cloumn!=''">
	     JOIN TbsRoleMenu ON TbsMenu.`id`=TbsRoleMenu.`${cloumn}`
	  </when>
	  <otherwise>
	      JOIN TbsRoleMenu ON TbsMenu.`id`=TbsRoleMenu.`menuIdFun`
	  </otherwise>
	</choose>
	JOIN TbsRole ON  TbsRoleMenu.`roleId`=TbsRole.`id`
	JOIN TbsRoleUser ON TbsRole.`id`=TbsRoleUser.`roleId`
	JOIN TbsUser ON TbsRoleUser.`userId`=TbsUser.`id` 
	WHERE 1=1
	AND url IS NOT NULL 
	AND parentId IS NOT NULL
	AND TbsUser.`id`=#{userId}
</select>
</mapper>   
